# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Old Runtime JS files.
bin