/**
 * Instance by DrewIt
 *
 * ui.app.css
 */

@import url("ui.roots.css");
@import url("ui.themes.css");

* {
    box-sizing: border-box;
    touch-action: pan-x pan-y;
}
*, :before, :after {
    box-sizing: border-box;
}
html, body {
    user-select: none;
    cursor: default;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}
html, body, web-app * {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
web-app, div, section, .smooth-scroll {
    scroll-behavior: smooth;
}
body {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
}
body [default-scrollbar] {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-scrollbar-color);
}
web-app {
    font-family: var(--font-display);
    color: var(--fg-base-color);
    display: block;
    display: flex;
}
html, body, web-app {
    overflow: hidden;
    background-color: var(--bg-base-color);
    font-size: 15px;
}
body, web-app {
    height: 100%;
    margin: 0;
}
[node-key="sidebar"] {
    height: 100dvh;
    max-width: 340px;
    min-width: 300px;
    transition: all .3s ease-in-out;
    background-color: var(--bg-aside-color);
    border: 2px solid var(--cr-transparent);
}
[node-key="sidebar"][data-state="relative"] {
    position: relative;
    width: 0;
    border-right-color: var(--bg-border-color);
}
[node-key="sidebar"][data-state="relative"][expand] {
    width: 340px;
    top: 0;
}
[node-key="sidebar"][data-state="absolute"] {
    position: absolute;
    border-radius: 15px;
    border: 1px solid var(--bg-border-color);
    height: calc(100dvh - 20px);
    top: 10px;
    overflow: hidden;
}
[node-key="sidebar"] {
    #nav-controls {
        display: flex;
        gap: 6px;
    }
    #asideContent {
        position: relative;
        height: calc(100dvh - 8em);
        overflow: hidden;
        overflow-y: auto;
        [abcon] {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
            height: calc(100dvh - 8em);
            padding: 10px;
        }
        [abcon][data-state="open"] {
            opacity: 1;
            z-index: 2;
        }
        [abcon][data-state="close"] {
            opacity: 0;
            z-index: -1;
            pointer-events: none;
        }
    }
}
[node-key="mainLayoutConstructive"] {
    width: 100%;
    position: relative;
}
html button {
    height: 100%;
    display: block;
    text-align: left;
    background-color: transparent;
    font-family: var(--font-display);
    color: inherit;
}
#mainLayoutContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 100%;
    transition: height 0.2s ease-out, min-height 0.2s ease-out;
    -webkit-box-align: stretch;
    align-items: stretch;
    color: lch(100 0 272);
    padding-right: env(safe-area-inset-right, 0px);
    padding-left: env(safe-area-inset-left, 0px);
}
@supports (overflow: clip) {
    #mainLayoutContainer {
        overflow: clip;
    }
}
html #mainBody {
    flex: 1;
    transition: all .3s var(--ease-in-out-circ);
}
html #mainBody app-layer {
    width: 100%; height: 100%;
    position: relative;
    display: block;
    padding-top: 50px;
}
html #mainBody #absolute-topbar {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    position: absolute;
    top: 0;
    z-index: 1;
}
app-layer[data-layer-type="nocontent"] {
    display: flex !important;
    justify-content: center;
    align-items: center;
}