/*
 * Instance by DrewIt
 *
 * ui.blocks.css
 */

@import url("ui.roots.css");
@import url("ui.keyframes.css");
@import url("ui.themes.css");

.o\[9\] {opacity: .9;} .o\[7\] {opacity: .7;} .o\[5\] {opacity: .5;} .o\[3\] {opacity: .3;}
.d-flex {display: flex;} .d-flex-col {display: flex; flex-direction: column !important;} .d-block {display: block;}
.items-center {display: flex; align-items: center;} .self-end {align-self: flex-end;}
.sm-gap {gap: 3px;} .sl-gap {gap: 5px;} .md-gap {gap: 9px;} .lg-gap {gap: 20px;}
.uppercase {text-transform: uppercase;} .capitalize {text-transform: capitalize;} .lowercase {text-transform: lowercase;}
.relative {position: relative;} .absolute {position: absolute;} .fixed {position: fixed;} .sticky {position: sticky;}
.sm-round {border-radius: 20px;}
.b-0 {bottom: 0;} .t-0 {top: 0;} .l-0 {left: 0;} .r-0 {right: 0;}
.px\.5 {padding-inline: 6px;} .px-1 {padding-inline: .9rem;} .py\.5 {padding-block: 6px;} .py-1 {padding-block: .9rem;}
.h-full {height: 100%;}
.w-full {width: 100%;} .max-w-\[230px\] {max-width: 230px;} .max-w-\[1000px\] {max-width: 1000px;}
.weight-400 {font-weight: 400;} .weight-500 {font-weight: 500;}
.cross-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lg-icon {
    width: 32px;
    height: 32px;
}
.size-1 {
    width: .8rem;
    height: .8rem;
}
.size-4 {
    width: 1.2rem;
    height: 1.2rem;
}
.size-5 {
    width: 1.3rem;
    height: 1.3rem;
}
.size-6 {
    width: 1.5rem;
    height: 1.5rem;
}
.lg-header {
    font-size: 1.6em;
    padding-top: 2em;
    padding-bottom: 1em;
}
#nav-bar {
    border-bottom: 1px solid var(--cr-transparent);
    width: 290px;
}
#nav-bar > .h-center {
    padding: 10px .8rem 8px;
}
.base-bg-hover:hover {
    background-color: var(--bg-hover-color);
}
.default-button {
    border-radius: 5px;
    transition: background-color .3s var(--ease-out-cubic);
    padding: 5px;
}
.hover-incr-opacity:hover {
    opacity: 1;
}
.hover-affects-color:hover {
    color: var(--accent-color);
}
#workspace-label {
    font-size: var(--font-size-small);
    align-items: center;
    justify-content: center;
}
#workspace-icon {
    height: fit-content;
    width: fit-content;
    transition: opacity .3s var(--ease-in-circ);
    padding: 0;
}
#workspace-icon button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--font-emoji);
}
.col-resizer, .row-resizer {
    background-color: var(--cr-transparent);
    z-index: 56;
    transition: background .3s var(--ease-out-circ);
    transition-delay: .3s;
    position: absolute;
}
.col-resizer:hover, .row-resizer:hover {
    background-color: var(--bg-secondrary-border-color);
}
.col-resizer {
    top: 0;
    width: 4px;
    height: 100%;
    cursor: col-resize;
}
.row-resizer {
    left: 0;
    width: 100%;
    height: 4px;
    cursor: row-resize;
}
.col-resizer.right-side {
    right: -1px;
}
.col-resizer.left-side {
    left: -1px;
}
.row-resizer.top-side {
    top: -1px;
}
.row-resizer.down-side {
    bottom: -1px;
}
.ntab {
    --asidetab-color: currentColor;
    padding: 5px 8px;
    margin-inline: 7px;
    transition: opacity, color .3s ease-out;
}
.ntab .asidetab-text {
    font-size: var(--font-size-small);
    font-weight: 500;
    color: var(--asidetab-color);
}
.ntab .label {
    background-color: var(--cr-cornflowerblue);
    margin-right: 10px;
    text-transform: capitalize;
    display: none;
}
.ntab .label[type="circle"][active] {
    width: 10px;
    height: 10px;
    border-radius: 13px;
    display: flex;
    align-self: center;
}
.ntab:hover {
    --asidetab-color: var(--cr-cornflowerblue);
}
.dtab {
    background: var(--cr-blue);
    border-radius: 20px;
    padding: 3px 11px;
    border: 1px solid #7fa8ff;
    color: #d3e2ff;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .9;
    transition: opacity .1s var(--ease-in-cubic);
}
.dtab:hover {
    opacity: 1;
}
.empty-label {
    opacity: .4;
    font-size: 12px;
}
[data-main-transition-effects="opacity"] {
    transition: opacity .6s var(--ease-in-cubic);
}
[data-sidebar-section-type="container"] {
    margin: 2px;
    padding-inline: .9rem;
    margin-bottom: 0;
}
[data-sidebar-section-type="header-wrapper"] {
    margin-top: 8px;
}
[data-sidebar-section-type="header"] button {
    opacity: .5;
    width: 100%;
    display: flex;
    gap: 10px;
}
[data-sidebar-section-type="collapsable-area"][open] [data-sidebar-section-type="header"] button item- {
    transform: rotate(90deg);
}
[data-sidebar-section-type="collapsable-area"][open] [data-sidebar-section-type="collapsable-body"] {
    height: auto;
}
[data-sidebar-section-type="collapsable-body"] {
    transition: all .3s var(--ease-in-cubic);
    padding-inline: 5px;
    overflow: hidden;
}
[data-sidebar-section-type="collapsable-area"][close] [data-sidebar-section-type="collapsable-body"] {
    height: 0px;
}
[data-sidebar-section-type="collapsable-body"] > div {
    transition: all .3s ease-in-out;
}
[data-sidebar-section-type="container"] .ntab {
    padding-inline: 0;
    margin: 0;
    width: 100%;
}
[data-sidebar-section-type="collapsable-area"] {
    padding-top: 5px;
    padding-bottom: 8px;
}
[overflow-x="hidden"] {
    overflow-x: hidden;
}
[overflow-y="auto"] {
    overflow-y: auto;
}
[hidden] {
    display: none;
}
[data-type="link"] {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: all .2s var(--ease-in-cubic);
    width: fit-content;
}
#h01 {
    transition: all .3s ease-in;
}
#n01, #n01::before, #n02, #n02::before {
    height: 17px;
    display: block;
    border: 2px solid var(--svg-color);
    border-radius: 5px;
}
#n01::before, #n02::before {
    content: '';
    width: 3px;
    background-color: var(--svg-color);
    height: 11px;
    position: relative;
    top: 1px;
    left: 2px;
}
#n01, #n02 {
    width: 19px;
}
#n02 {
    overflow: hidden;
}
#n02::before {
    position: relative;
    width: 5px;
    height: 20px;
    border-radius: 0;
    top: -2px;
    border-color: var(--cr-transparent);
    border-right-color: var(--svg-color);
    background-color: var(--cr-transparent);
}
#aside-bottom-container {
    margin: 0;
    border-top: 1px solid transparent;
}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.meta-link-box {
    padding: 15px 20px;
    border: 2px solid var(--cr-transparent);
    border-radius: 15px;
    width: 320px;
}
.meta-link-box .em-icon svg, .meta-link-box .em-icon path {
    stroke: var(--cr-blue);
    stroke-width: 1;
}
.meta-link-box .meta-options {
    opacity: 0;
    transition: opacity .2s var(--ease-in-expo);
}
.meta-link-box:hover .meta-options {
    opacity: 1;
}
.meta-link-box .d-flex {
    align-items: center;
}
.meta-link-box p {
    opacity: .6;
    font-size: 14px;
}
.meta-link-box title {
    display: block;
    font-size: 1em;
}
.meta-link-box .bt {
    margin-top: 10px;
}
.meta-link-box [data-type="link"]:hover {
    gap: 7px;
}
*:not([default-scrollbar])::-webkit-scrollbar {
    width: 4px; height: 4px;
    background-color: var(--cr-transparent);
}
*:not([default-scrollbar])::-webkit-scrollbar-thumb {
    width: 4px; height: 4px;
    border-radius: 5px;
    background-color: var(--bg-scrollbar-color);
}