/*
 * Instance by DrewIt
 *
 * ui.blocks.css
 */

@import url("ui.roots.css");
@import url("ui.themes.css");

.o\[9\] {opacity: .9;} .o\[7\] {opacity: .7;} .o\[5\] {opacity: .5;} .o\[3\] {opacity: .3;}
.d-flex {display: flex;} .d-flex-col {display: flex; flex-direction: column !important;} .d-block {display: block;}
.items-center {display: flex; align-items: center;} .self-end {align-self: flex-end;}
.sm-gap {gap: 3px;} .sl-gap {gap: 5px;} .md-gap {gap: 9px;} .lg-gap {gap: 20px;}
.uppercase {text-transform: uppercase;} .capitalize {text-transform: capitalize;} .lowercase {text-transform: lowercase;}
.relative {position: relative;} .absolute {position: absolute;} .fixed {position: fixed;} .sticky {position: sticky;}
.sm-round {border-radius: 20px;}
.b-0 {bottom: 0;} .t-0 {top: 0;} .l-0 {left: 0;} .r-0 {right: 0;}
.px\.5 {padding-inline: 6px;} .px-1 {padding-inline: .9rem;} .py\.5 {padding-block: 6px;} .py-1 {padding-block: .9rem;}
.h-full {height: 100%;} .h-fit {height: fit-content;}
.w-full {width: 100%;} .w-fit {width: fit-content;} .max-w-\[230px\] {max-width: 230px;} .max-w-\[360px\] {max-width: 360px;} .max-w-\[1000px\] {max-width: 1000px;}
.weight-400 {font-weight: 400;} .weight-500 {font-weight: 500;}
.sm-spacer {padding-block: 0.5em;} .md-spacer {padding-block: 1em;}
.sm-spacer, .md-spacer, .em-spacer, .lg-spacer {
    width: 100%;
    display: block;
}
.cross-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.v-center {
    display: flex;
    justify-content: center;
}
.lg-icon {
    width: 32px;
    height: 32px;
}
.size-1 {
    width: .8rem;
    height: .8rem;
}
.size-4 {
    width: 1.2rem;
    height: 1.2rem;
}
.size-5 {
    width: 1.3rem;
    height: 1.3rem;
}
.size-6 {
    width: 1.5rem;
    height: 1.5rem;
}
.lg-header {
    font-size: 1.6em;
    padding-top: 2em;
    padding-bottom: 1em;
}
.h1, .h2, .h3, .h4, .h5 {
    font-weight: 500;
    color: var(--fg-base-color);
}
.h4 {font-size: 1.01rem;}
.text-secondrary {
    color: var(--cr-grey);
    font-size: 14px;
}
.base-bg-hover:hover {
    background-color: var(--bg-secondrary-base-color);
}
.hover-incr-opacity:hover {
    opacity: 1;
}
.col-resizer, .row-resizer {
    background-color: var(--cr-transparent);
    z-index: 56;
    transition: background .3s var(--ease-out-circ);
    transition-delay: .3s;
    position: absolute;
}
.col-resizer:hover, .row-resizer:hover {
    background-color: var(--bg-secondrary-border-color);
}
.col-resizer {
    top: 0;
    width: 4px;
    height: 100%;
    cursor: col-resize;
}
.row-resizer {
    left: 0;
    width: 100%;
    height: 4px;
    cursor: row-resize;
}
.col-resizer.right-side {
    right: -1px;
}
.col-resizer.left-side {
    left: -1px;
}
.row-resizer.top-side {
    top: -1px;
}
.row-resizer.down-side {
    bottom: -1px;
}
.sidebar-con {
    width: fit-content;
}
.sidebar-con[collapse] {
    width: 8px;
    position: absolute;
    top: 0;
    left: 0;
}
.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
*:not([default-scrollbar])::-webkit-scrollbar {
    width: 4px; height: 4px;
    background-color: var(--cr-transparent);
}
*:not([default-scrollbar])::-webkit-scrollbar-thumb {
    width: 4px; height: 4px;
    border-radius: 5px;
    background-color: var(--bg-scrollbar-color);
}
[pointer-events="all"] {pointer-events: all;} [pointer-events="none"] {pointer-events: none;}
[data-main-transition-effects="opacity"] {
    transition: opacity .6s var(--ease-in-cubic);
}
[overflow-x="hidden"] {overflow-x: hidden;} [overflow-y="auto"] {overflow-y: auto;}
[hidden] {
    display: none !important;
}
